.avartar-fame{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.avatar-fame img{
  width: 90px;
  height: 90px;
  border-radius: 1rem;
}

@media (max-width: 768px){
  .avatar-fame img{
    width: 55px;
    height: 55px;
  }
}