header {
  width: 100%;
  height: 4.5rem;
}

.header-contents{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 71.25rem;
  /* display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding:2rem; */
  display: fixed;
}

.header-menu-group{
  display: flex;
  flex-direction:row;
  gap:4rem;
  justify-content:flex-end;
}