/* Common */
header {
  width: 100%;
  height: 4.5rem;
  position: fixed;
  z-index: 1000;
}
.header-container-common{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 71.25rem;
  display: flex;
  justify-content : space-between;
  align-items:center;
}
.header-tittle{
  font-size: 1.5rem;
  margin : 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-tittle:hover {
  color: #1E90FF;
}

/* default(PC & noScroll) Header */
.header-default{
  background-color:transparent;
}
.header-contents-default{
  display: flex;
  flex-direction:row;
  gap:4rem;
  justify-content:flex-end;
  margin-right: 2rem;
}
.header-items-default{
  color :#fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-items-default:hover{
  color : #1E90FF;
}

/* Mobile & Scrolled Header */
.header-optional{
  background-color:#3A3A3D;
}
.header-contents-optional{
  position: absolute;
  top: 4.5rem;
  width: 100%;
  height: 1rem;
}
.header-items-optional{
  color :#F0F0F0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-items-optional:hover{
  color : #1E90FF;
}

/* only for mobile Device */
.header-contents-mobile-btn{
  display: none;
  background-color:transparent;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header-contents-mobile-btn:hover {
  opacity: 0.8;
}

.header-contents-mobile-btn img {
  width: 80%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
}

.header-contents-mobile-nav{
  position: absolute;
  top: 4.5rem;
  width: 100%;
  height: 0;
  overflow: auto;
  transition: height 0.3s ease;
  background-color: #3A3A3D;
}

.act {
  /* visibility: visible; */
  height:20vh;
}

.header-contents-mobile-items{
  width: 100%;
  padding:1rem;
  color : #F0F0F0;
  background-color:#3A3A3D;
  cursor: pointer;
  transition: color 0.3s ease;
}
.header-contents-mobile-items:hover{
  color : #1E90FF;
  background-color: #2A2A2A;
}

/* media query */
@media (max-width : 768px){
  .header-contents-default{
    display: none;
  }
  .header-contents-mobile-btn{
    display: block;
  }
}
