header {
  width: 100%;
  height: 4.5rem;
  position: fixed;
}

.scrolled-header .header-item:hover{
  color: red;
  cursor: pointer;
}

.scrolled-header{
  color: black;
}

.noScrolled-header .header-item:hover{
  color: white;
  cursor: pointer;
}

.noScrolled-header{
  color : hsla(0,0%,100%,.7);
}

.header-common{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 71.25rem;
  display: flex;
  justify-content : space-between;
  align-items:center;
}

.header-menu-group{
  display: flex;
  flex-direction:row;
  gap:4rem;
  justify-content:flex-end;
}