footer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: #A0A0A0;
  font-size: 0.9rem;
  background-color: #1A1A1A;
}

footer p {
  margin: 0.5rem 0;
}

.last-update {
  font-size: 0.8rem;
  color: #808080;
}