.introduce-frame{
  width: 100%;
  padding-top : 4.5rem;

  /*grid setting*/
  display : grid;
  grid-template-areas: 
  'tittle tittle'
  'thumbnail itemCards'
  'footer'
  ;
}

.introduce-container{
  width :100%;
  max-width : 71rem;
  margin: 0 auto;
  color : var(--font-color);
}

.introduce-main{
  height : 500px;
}


