.introduce-article{
  width: 100%;
  padding-top : 4.5rem;
}

.introduce-container{
  width :100%;
  max-width : 71rem;
  margin: 0 auto;
  color : var(--font-color);
}

.introduce-body{
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-area svg {
  width: 40px; 
  height: 40px;
}


.github-area{
  width: 300px;
  height: 80px;
  margin : 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2a2a2e;
  border-radius: 1rem;
}

.github-tittle{
  display: flex;
  align-items: center;
}

.giturl{
  text-decoration: none;
  margin: auto;
}

.giturl:visited{
  color: inherit;
}


@media (max-width:768px){
  .github-area{
    margin-top : 3rem;
  }
}