.scroll-move-top-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 10%;
}

.up-scroll-button-img{
  width: 100%;
  height: 100%;
  padding: 5px;
}