.intro-item-card{
  width: 33.3333333%;
  min-width: 370px;
  display :grid;
  grid-template-areas: 
  'intro-icon intro-tittle'
  'intro-icon intro-value';
  grid-template-columns: 40% 60%;
}

.icon-area, .tittle-area, .value-area{
  display: flex;
  align-items: center;
  
}

.icon-area{
  grid-area : intro-icon;
  justify-content: center;
}

.tittle-area{
  grid-area: intro-tittle;
  justify-content: start;
}

.value-area{
  grid-area : intro-value;
  justify-content: start;
}

@media (max-width:768px){
  .intro-item-card{
    padding : 10px;
  }
}