.about-me-frame{
  width: 70%;
  margin: auto;
  height: calc(100vh);
  color : #F0F0F0;
}

.app-main-tittle{
  padding-top: 150px;
  font-size: x-large;
}


.app-main-text{
  position: relative;
  display: flex;
  padding-top: 20rem;
  font-size: large;
}

.intro-text {
  white-space: nowrap;
  overflow: hidden;
}

.text-type-1{
  flex-direction: column;
  animation: typing 2s steps(6), blink 0.5s step-end infinite;
  border-right: 2px solid #F0F0F0;
}
@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.app-main-text >p{
  font-size: 30px;
  margin : 1rem;
}

.app-main-text span{
  color : #1E90FF;
}


@media(max-width:768px){
  .app-main-tittle{
    padding-top: 150px;
    font-size: medium;
  }

  .app-main-text{
    bottom: 23rem;
  }
}