.about-me-frame{
  width: 70%;
  margin: auto;
  height: calc(100vh);
  color : #F0F0F0;
}

.app-main-tittle{
  padding-top: 150px;
  font-size: 25;
}


/* 처음부터 다시하는거야 */

.app-main-text {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-text {
  white-space: nowrap;
  overflow: hidden;
}

.text-type-1 {
  width: 0;
  animation: typing1 0.3s steps(6, end) forwards, blink 0.7s infinite;
}

.text-type-2 {
  width: 0;
  animation: typing2 0.7s steps(27, end) forwards;
  animation-delay: 0.5s; /* 첫 번째 애니메이션이 끝난 후 실행 */
}

@keyframes typing1 {
  from { width: 0; }
  to { width: 6ch; } 
}

@keyframes typing2 {
  from { width: 0; }
  to { width: 27ch; } 
}
/* ---------------------------------------------- */


.app-main-text >p{
  font-size: 30px;
  margin : 1rem;
}


.app-main-text span{
  color : #1E90FF;
}


@media(max-width:768px){
  .app-main-tittle{
    padding-top: 150px;
    font-size: medium;
  }

  .app-main-text{
    bottom: 23rem;
  }
}