.about-me-frame{
  width: 70%;
  margin: auto;
  height: calc(100vh);
  color : #F0F0F0;
  position: relative;
}

.app-main-tittle{
  padding-top: 150px;
  font-size: 25;
}


/* 처음부터 다시하는거야 */
.app-main-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-text {
  white-space: nowrap;
  overflow: hidden;
}

.text-type-1 {
  width: 0;
  animation: typing1 0.3s steps(6, end) forwards, blink 0.7s infinite;
}

.text-type-2 {
  width: 0;
  animation: typing2 0.7s steps(27, end) forwards;
  animation-delay: 0.5s; /* 첫 번째 애니메이션이 끝난 후 실행 */
}

@keyframes typing1 {
  from { width: 0; }
  to { width: 6ch; } 
}

@keyframes typing2 {
  from { width: 0; }
  to { width: 27ch; } 
}
/* ---------------------------------------------- */


.app-main-text > p {
  /* 디바이스 최적화 최소 1.2rem, 최대 2rem */
  font-size: clamp(1.2rem, 4vw, 2rem); 
  margin: 1rem;
}


.app-main-text span{
  color : #1E90FF;
}

.intro-print-text{
  font-size: 1rem !important;
  color: #F0F0F0 !important;
  display: none;
}

@media (max-width: 768px) {
  .app-main-tittle {
    padding-top: 150px;
    font-size: 1.5rem; 
  }
  
  .app-main-text {
    top: 60%;
  }
}