@import 'normalize.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* @font-face {
  font-family: 'jalnanGothic';
  src: 
  url('/src/assets/fonts/JalnanGothic.otf') format('truetype'),
  url('/src/assets/fonts/YourFontName.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

:root{
  --font-size:16px; 
  --font-color : #F0F0F0;
  /*Article*/
  --article-tittle : 3rem;
  --article-tittle-weight : 400;
  --background : #1b1b1e;
  /*Theme Color*/
  --highlight-color : #1E90FF;

}

@media screen and (max-width:768px){
  :root{
    --font-size :14px;
  }
}

@media screen and (max-width:480px){
  :root{
    --font-size :10px;
  }
}

html {
  font-size: var(--font-size);
}

body{
  font-family: 'Pretendard', sans-serif;
  background-color: #1b1b1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

