@import 'normalize.css';

@font-face {
  font-family: 'jalnanGothic';
  src: 
  url('/src/assets/fonts/JalnanGothic.otf') format('truetype'),
  url('/src/assets/fonts/YourFontName.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --font-size:16px;
}

@media screen and (max-width:768px){
  :root{
    --font-size :14px;
  }
}

@media screen and (max-width:480px){
  :root{
    --font-size :12px;
  }
}

html {
  font-size: var(--font-size);
}

body{
  font-family: 'jalnanGothic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

